body {
  background:#e4f1fe;
}

a {
  color: #155263;
}

.App {
  max-width: 980px;
  margin: 0 auto;
}

.App h1{
  color: #155263;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}

.App header {
  margin: 25px 0;
}

.App-logo{
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  text-align: center;
  margin: 20px 0;
}